Source: bluegriffon
Section: web
Priority: optional
Maintainer: Miguel Telleria de Esteban <miguel@mtelleria.com>
Build-Depends: debhelper (>= 7.0.50~), zip, yasm,
 pkg-config, libgtk2.0-dev, libglib2.0-dev,
 libgnomevfs2-dev, libgconf2-dev, libnotify-dev,
 libxt-dev, libasound2-dev, libiw-dev, mesa-common-dev
Standards-Version: 3.9.1
Homepage: http://bluegriffon.org/

Package: bluegriffon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bluegriffon-data (= ${source:Version})
Description: Web Editor based on the rendering engine of Firefox
 BlueGriffon is a new WYSIWYG content editor for
 the World Wide Web. Powered by Gecko, the rendering
 engine of Firefox 4, it's a modern and robust
 solution to edit Web pages in conformance to the
 latest Web Standards.

Package: bluegriffon-data
Architecture: all
Depends: ${misc:Depends}
Description: Web Editor based on the rendering engine of Firefox (data files)
 BlueGriffon is a new WYSIWYG content editor for
 the World Wide Web. Powered by Gecko, the rendering
 engine of Firefox 4, it's a modern and robust
 solution to edit Web pages in conformance to the
 latest Web Standards.
 .
 (This package contains the data files)
