#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	rm -rf bluegriffon

override_dh_auto_configure:

override_dh_auto_build:
	cd mozilla-2.0 && $(MAKE) -f client.mk build_all

override_dh_auto_install:
	mkdir -p debian/bluegriffon/usr/lib/bluegriffon
	mkdir -p usr/bin
#	mkdir -p debian/bluegriffon-data/usr/share/bluegriffon

	chmod -x bluegriffon/dist/bin/components/NetworkGeolocationProvider.js

	cp -RL bluegriffon/dist/bin/* debian/bluegriffon/usr/lib/bluegriffon

#	mv debian/bluegriffon-data/usr/share/bluegriffon/components/*.so debian/bluegriffon/usr/lib/bluegriffon/

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/bluegriffon/usr/lib/bluegriffon -l$(CURDIR)debian/bluegriffon/usr/lib/bluegriffon/components
